<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="vm" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="vm" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="vm" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="vm" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vacation Manager</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body ng-app="vm" layout="column">
        <div flex layout="column">
            <div layout="column" flex>
                <md-content ng-controller="VmController" flex="none">
                    <md-toolbar class="md-hue-2">
                        <div class="md-toolbar-tools">
                            <md-button class="md-icon-button" ng-click="toggleSidenav()">
                                <md-icon md-svg-icon="resources/images/menu.svg"></md-icon>
                            </md-button>
                            <h2>
                                <span>Vacation Manager</span>
                            </h2>
                        </div>
                    </md-toolbar>
                </md-content>
                <section layout="row" flex>
                    <div ng-controller="VmController" layout="row">
                        <md-sidenav class="md-sidenav-left"
                                    md-component-id="left"
                                    md-is-locked-open="$mdMedia('gt-md')"
                                    md-whiteframe="4">
                            <md-content layout-padding>
                                <md-button ng-click="close()" class="md-primary" hide-gt-md>
                                    Close Sidenav Left
                                </md-button>
                                <p hide show-gt-md>
                                    This is the future menu
                                </p>
                            </md-content>
                        </md-sidenav>
                    </div>
                    <md-content flex layout-padding>
                        <div layout="column" layout-align="top center">
                            <div ng-view></div>
                        </div>
                    </md-content>
                </section>
            </div>
        </div>
    </body>
</html>
